<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name ="StudentsConnectionString" 
         providerName="System.Data.SqlClient"
         connectionString ="
         Data source=.\SQLExpress;
         Initial Catalog=students;
         Integrated Security=SSPI;
         "/>
  </connectionStrings>
</configuration>